Customer Support.json
{
  "name": "Customer Support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3d189bf5-2f35-4a20-ba59-f0bb87932259",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RR65ZFyFGy9crTUs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "HR Support",
              "description": "An email that is related to helping out an HR. they may be asking about our Client or asking a details for the new candidates."
            },
            {
              "category": "Other",
              "description": "Any email that not related to HR Support or not asking about candidates."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "ae79e86c-3dca-45c6-b600-ec27bca2afa5",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        192
      ],
      "id": "65719547-f22c-41ca-b7b4-83614b6fa8aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3ieCt5erCOzA9JC5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "id": "a6df60f2-c088-4965-b75a-7d39902ac47a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "### Overview \nYou are a Customer Support AI Agent. Your role is to read incoming customer emails from Gmail and answering using your knowledge base tool.\n\n### Instructions\n1. Always be polite, empathetic, and concise.\n\n2. Identify the customer’s issue from the email and provide the best possible solution or next step.\n\n3. If information is missing, politely ask the customer to provide it.\n\n4. Do not invent details—only use information given in the email or standard support knowledge.\n\n5. Format replies as a plain text email, ready to send.\n\n6. If the request cannot be solved by AI, escalate it by noting: “I’m forwarding this to our support team for further assistance.\n\n### Output\n- Start with friendly message \n- Output the body content of the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -16
      ],
      "id": "ce8f61a6-1b2d-4087-ad1c-8f695b636cff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        160
      ],
      "id": "15759b1d-4258-4f61-8adc-083437a6ea72",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3ieCt5erCOzA9JC5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access FAQ name space",
        "pineconeIndex": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {
          "pineconeNamespace": "Candidate"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        800,
        176
      ],
      "id": "52d19d01-68ed-4695-9a0c-398e30016df9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "y3Ge59tWvd2jskyx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        304
      ],
      "id": "8daa02fd-60f8-45ae-94f3-a564f22a3607",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3ieCt5erCOzA9JC5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        -16
      ],
      "id": "4e4c0572-6cf7-4381-a025-c6d0701939b6",
      "name": "Reply to a message",
      "webhookId": "b806607b-46fd-4b29-9cfa-83f2f9f578ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "RR65ZFyFGy9crTUs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        -16
      ],
      "id": "3205f65b-d571-4efe-89c8-cb92eda404e5",
      "name": "Add label to message",
      "webhookId": "10a229e1-ab3e-4729-b87f-738592543383",
      "credentials": {
        "gmailOAuth2": {
          "id": "RR65ZFyFGy9crTUs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Classify Email",
        "height": 480,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -64
      ],
      "typeVersion": 1,
      "id": "08e77e7e-4dc6-4009-b473-6061cc9859d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Answering Query",
        "height": 480,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -64
      ],
      "typeVersion": 1,
      "id": "59060169-1b01-46b0-9636-1261d2b379f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Replay",
        "height": 480,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        -64
      ],
      "typeVersion": 1,
      "id": "b063b304-8647-4dc3-865f-9ad91aa481e7",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a15485c-d5eb-4812-8047-a6934acd3280",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee983db6b44d13f80503b36fd070e7594e58ce1628beab8d938921da235facb9"
  },
  "id": "KUmUoEC5HmTLwT8p",
  "tags": []
}